@use "../_mixins" as *;
@use "../_vars" as *;

.special-color-1 img,
.special-color-2 img,
.special-color-3 img,
:is(.special-color-1, .special-color-2, .special-color-3) .section--features,
:is(.special-color-1, .special-color-2, .special-color-3) .section--features *,
:is(.special-color-1, .special-color-2, .special-color-3) .steps__item *,
:is(.special-color-1, .special-color-2, .special-color-3) .modal__content *,
:is(.special-color-1, .special-color-2, .special-color-3) .section--start-announce,
:is(.special-color-1, .special-color-2, .special-color-3) .section--application,
:is(.special-color-1, .special-color-2, .special-color-3) .section--application .container,
:is(.special-color-1, .special-color-2, .special-color-3) .section--application-points {
    background: transparent !important;
}

:is(.special-color-1, .special-color-2, .special-color-3) .hero {
    height: 500px;
}

@include breakpoint($bp-lg) {
    :is(.special-color-1, .special-color-2, .special-color-3) .hero {
        height: 400px;
    }
}

@include breakpoint($bp-sm) {
    :is(.special-color-1, .special-color-2, .special-color-3) .hero {
        min-height: 550px;
        height: 100%;
    }
}

:is(.special-color-1, .special-color-2, .special-color-3) .button:not(.button--back, .form__submit, .button--transparent) {
    height: auto;
    width: auto;
}

.special-color-1 .button {
    border: 1px solid var(--color-black);
}

.special-color-2 .button {
    border: 1px solid var(--color-white);
}

.special-color-3 .button {
    border: 1px solid var(--color-access-blue);
}

.special-color-1 svg path {
    fill: var(--color-black);
    stroke: var(--color-black);
}

.special-color-1 svg ellipse,
.special-color-1 svg circle {
    stroke: var(--color-black);
}

.special-color-3 svg path {
    fill: var(--color-access-blue);
    stroke: var(--color-black);
}

.special-color-3 svg ellipse,
.special-color-3 svg circle {
    stroke: var(--color-access-blue);
}

.special-color-1 .rotation-carousel__item,
.special-color-1 .info__card,
.special-color-1 .steps__item,
.special-color-1 .modal__content {
    border: 1px solid var(--color-black);
}

.special-color-3 .rotation-carousel__item,
.special-color-3 .info__card,
.special-color-3 .steps__item,
.special-color-3 .modal__content {
    border: 1px solid var(--color-access-blue);
}

.special-color-2 .rotation-carousel__item,
.special-color-2 .info__card,
.special-color-2 .steps__item,
.special-color-2 .modal__content {
    border: 1px solid var(--color-white);
}

:is(.special-color-1, .special-color-2, .special-color-3) .footer__title,
:is(.special-color-1, .special-color-2, .special-color-3) .section-title,
:is(.special-color-1, .special-color-2, .special-color-3) .section-subtitle,
:is(.special-color-1, .special-color-2, .special-color-3) .transport-ecosystem__title,
:is(.special-color-1, .special-color-2, .special-color-3) .atransport-ecosystem__text {
    padding-left: 0 !important;
    margin-left: 0 !important;
}

:is(.special-color-1, .special-color-2, .special-color-3) .footer__title::before,
:is(.special-color-1, .special-color-2, .special-color-3) .section-title::before,
:is(.special-color-1, .special-color-2, .special-color-3) .transport-ecosystem__title::before {
    content: '' !important;
}

:is(.special-color-1, .special-color-2, .special-color-3) .header {
    top: 50px;
}