@use "../_mixins" as *;
@use "../_vars" as *;

.container {
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;

  @include breakpoint($bp-1440) {
    max-width: 1280px;
  }

  @include breakpoint($bp-1200) {
    max-width: 1136px;
  }

  @include breakpoint($bp-992) {
    max-width: 944px;
  }

  @include breakpoint($bp-768) {
    max-width: 736px;
  }

  @include breakpoint($bp-390) {
    max-width: 358px;
  }
}